<!DOCTYPE html>
<html>
	<head>
		<title>Beer Locker</title>
	</head>
	
	<body>
		<p>Hi <%= user.username %>!</p>
		<p><b><%= client.name %></b> is requesting <b>full access</b> to your account.</p>
		<p>Do you approve?</p>

		<form action="/api/oauth2/authorize" method="post">
			<input name="transaction_id" type="hidden" value="<%= transactionID %>">
			<div>
				<input type="submit" value="Allow" id="allow">
				<input type="submit" value="Deny" name="cancel" id="deny">
			</div>
		</form>
	</body>
</html>